// Обводка таблицы с корзиной
.cart_border_wrapper
  border: 1px solid $ultra-light-grey
  border-radius: 10px
  padding: 20px 45px
  margin-bottom: 20px


// Таблица корзины
.woocommerce-cart-form

  .product-thumbnail
    padding-right: 12px

  .product-name 
    padding-right: 20px
    a
      font-size: 18px
      font-weight: bold

  .product-quantity
    padding-right: 20px
    
    .qty // input
      width: 70px
      border: 1px solid $ultra-light-grey

  .product-subtotal
    padding-right: 20px

  .product-remove
    a
      text-decoration: none
      &:hover
        text-decoration: uncart-total

.woocommerce table.cart
  border-radius: 5px 5px 0 0
  border-bottom: 0
  button
    margin-top: 20px

.woocommerce table.cart td.actions
  margin-top: 20px
  text-align: left
  padding-left: 0
  border: none

.woocommerce table.cart td.shipping
  background: none

.woocommerce table.shop_table
  border: none

.woocommerce table.shop_table tr 
  border-left: none
  td
    border-top: none

  & + tr td
    border-bottom: 1px solid rgba(0,0,0,.1)
  
  .product-thumbnail
    padding-top: 0
    padding-bottom: 0
    padding-left: 0

  .product-name a
    color: $blue

.woocommerce a.remove
  color: $light-grey!important
  &:hover
    background-color: $light-grey!important

// cart-total
.woocommerce a.button.alt
  display: inline-block
  background: $blue
  color: $white
  font-size: 17px
  font-weight: bold
  text-decoration: none
  padding: 12px 60px
  border-radius: 5px
  &:hover
    background: lighten($blue, 10)

.woocommerce 
  .cart_totals 
    table.shop_table
      border-radius: 0 0 5px 5px
      border-top: 0

.cart-subtotal
  display: none

.woocommerce .shop_table .order-total
  th, td
    border: none