.homepage-products-wrap{
    margin-bottom: 30px;
}
#homepage-products{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    /*margin-bottom: 100px;*/
}
.homepage-product-item {
    width: 19%;
    text-align: center;
    margin-right: 1%;
    /* выравнивание */
}

.homepage-product-item a {
    height: 305px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #03407C;
}

.homepage-product-item img {
    width: 100%;
    margin: auto;
}